Repository bookseer/wert: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)

dfsfsf
  book/_config.yml
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

sdf
  book/_toc.yml
  book/info/new.md
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _downloads/33e59b5ca9ec342068223d604c3f8d55/references.bib
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/new.md
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/new.html
  info/typography.html
  objects.inv
  prf-prf.html
  reports/info/new.err.log
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _rediraffe_redirected.json
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _downloads/1629c3424fd492d34aefb9b382818fad/notebooks.ipynb
  _images/71039ee17dedf77e1f189876ef1958be5c7ecc885ff123f1a5c24285693b06a6.png
  _images/a7a52b22adf7fc94d44d4ae8c80684960d682f2a33981e38e32f12000c519272.png
  _images/f1fc84c6cfe9738d2732dafabbb0e8f6bfba96a2f941e8d1c131f47db883d4f1.png
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/notebooks.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  info/notebooks.html
  objects.inv
  reports/info/notebooks.err.log
  searchindex.js
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/new.html
  info/notebooks.html
  info/typography.html
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  info/notebooks.html
  searchindex.js
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  .buildinfo
  _rediraffe_redirected.json
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/copybutton.js
  _static/favicon.ico
  _static/images/cc-icons.svg
  _static/images/favicon.ico
  _static/images/logomark.svg
  _static/img/favicon.ico
  _static/styles/codeblock.css
  genindex.html
  index.html
  info/new.html
  info/notebooks.html
  info/typography.html
  new.html
  objects.inv
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  book/_config.yml
  book/_static/images/cc-icons.svg
  book/_static/images/favicon.ico
  book/_static/images/logomark.svg
  book/_static/styles/codeblock.css
  pyproject.toml
Due: check-toml, check-yaml

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/info/typography.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/info/typography.md
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
  book/_static/images/logo-square.svg
  book/_static/images/logo-wide.svg
  environment-dev.yml
  environment.yml
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/images/logo-square.svg
  _static/images/logo-wide.svg
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
Due: check-yaml

dfdf
  book/_static/images/cc-logomark.svg
  book/_static/images/logo-square.svg
  book/_static/images/logo-wide.svg
Due: none

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/images/cc-logomark.svg
  _static/images/logo-square.svg
  _static/images/logo-wide.svg
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/logo-wide.svg
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa
