Repository bookseer/wert: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

pretty-format-json:
  name: Checks that all your JSON files are pretty (pretty-format-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: pretty-format-json
  args:
  - --autofix
  - --indent=4
  - --no-ensure-ascii
  - --no-sort-keys
  require_serial: true

check-json:
  name: Attempts to load all json files to verify syntax (check-json)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-json
  require_serial: true

check-toml:
  name: Attempts to load all TOML files to verify syntax (check-toml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-toml
  require_serial: true

check-yaml:
  name: Attempts to load all yaml files to verify syntax (check-yaml)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: check-yaml
  args:
  - --allow-multiple-documents
  require_serial: true

requirements-txt-fixer:
  name: Sorts entries in requirements.txt and constraints.txt (requirements-txt-fixer)
  description: https://github.com/pre-commit/pre-commit-hooks
  language: system
  entry: requirements-txt-fixer
  require_serial: true
  verbose: true

pyupgrade-nbqa:
  name: Automatically upgrade syntax for newer versions (pyupgrade + nbqa)
  description: https://github.com/asottile/pyupgrade https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pyupgrade
  args:
  - --py312-plus
  require_serial: true

isort-nbqa:
  name: Import sorting (isort + nbqa)
  description: https://github.com/pycqa/isort https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa isort
  args:
  - --settings-file=pyproject.toml
  require_serial: true

black-nbqa:
  name: Python code formatter (bandit + nbqa)
  description: https://github.com/psf/black https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa black --config pyproject.toml
  args:
  - --config=pyproject.toml
  require_serial: true

mypy-nbqa:
  name: Static type checking (mypy + nbqa)
  description: https://github.com/python/mypy https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa mypy
  args:
  - --config-file=pyproject.toml
  require_serial: true

bandit-nbqa:
  name: Security code analysis (bandit + nbqa)
  description: https://github.com/PyCQA/bandit https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa bandit
  args:
  - --configfile=pyproject.toml
  require_serial: true

pylint-nbqa:
  name: Static code analysis (pylint + nbqa)
  description: https://github.com/pylint-dev/pylint https://github.com/nbQA-dev/nbQA
  language: system
  entry: python -m nbqa pylint
  args:
  - --rcfile=pyproject.toml
  - --disable=C0111
  - --disable=C0413
  require_serial: true

doctest:
  name: Test interactive Python examples (doctest)
  description: https://docs.python.org/3/library/doctest.html
  language: system
  entry: python -m doctest
  require_serial: true

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  genindex.html
  index.html
  info/typography.html
  objects.inv
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  book/tmux/index.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
Due: none

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
Due: check-yaml

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  genindex.html
  index.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  book/_config.yml
  book/tmux/index.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  .pyproject.toml.kate-swp
  book/info/typography.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/info/typography.md
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/tmux/index.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .pyproject.toml.kate-swp
  pyproject.toml
Due: check-toml

dfdf
  .binder/requirements.txt
  book/tmux/index.md
  pyproject.toml
Due: check-toml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .pyproject.toml.kate-swp
Due: none

dfdf
  .pyproject.toml.kate-swp
  book/_config.yml
  book/tmux/index.md
  pyproject.toml
Due: check-toml, check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  requirements-dev.txt
  requirements.txt
Due: requirements-txt-fixer

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)
