Repository bookseer/wert: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  objects.inv
  searchindex.js
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_toc.yml
Due: check-yaml

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  genindex.html
  index.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/tmux/index.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  searchindex.js
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  _static/copybutton.js
  genindex.html
  index.html
  info/typography.html
  objects.inv
  prf-prf.html
  reports/tmux/index.err.log
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
Due: none

dfdf
  requirements-dev.txt
  requirements.txt
Due: requirements-txt-fixer

dfdf
  .binder/requirements.txt
  requirements.txt
Due: requirements-txt-fixer

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _sources/tmux/index.ipynb
  _sources/tmux/index.md
  genindex.html
  index.html
  info/typography.html
  objects.inv
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
  tmux/index.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  book/tmux/index.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/tmux/index.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  .binder/requirements.txt
  book/tmux/index.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: check-toml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa
