Repository bookseer/wert: changes, and which pre-commit hooks are due for each by the changed paths.
All: pretty-format-json, check-json, check-toml, check-yaml, requirements-txt-fixer, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa, doctest, name-tests-test

Path conditions:
  pretty-format-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-json: any of: \.json$, \.ipynb$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-toml: any of: \.toml$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  check-yaml: any of: \.(yaml|yml)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  requirements-txt-fixer: any of: ^(requirements).*(.txt)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pyupgrade-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  isort-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  black-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  mypy-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  bandit-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  pylint-nbqa: any of: \.ipynb$, \.(md|markdown|mdown)$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  doctest: any of: \.py$, but not: (?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$

  name-tests-test: any of: ^tests/ and \.py$ and not ((?x)^(
  venv/.*|
  .git/.*|
  book/_build/.*
)$
)

dfdf
  book/_config.yml
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
  book/_static/images/favicon.svg
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.svg
  _static/images/favicon.svg
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_static/images/favicon.svg
Due: none

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.svg
  _static/images/favicon.svg
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_static/images/favicon.ico
  book/_static/images/favicon.svg
Due: none

dfdf
  book/_static/images/favicon.svg
  book/_toc.yml
Due: check-yaml

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.svg
  _static/images/favicon.svg
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
  book/_toc.yml
Due: check-yaml

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  searchindex.js
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
  book/_static/images/cc-icons.svg
  book/_static/images/cc-logomark.svg
  book/_static/images/favicon.svg
  book/_static/images/logo-square.svg
  book/_static/images/logo-wide.svg
  book/_static/styles/codeblock.css
  book/_toc.yml
  book/index.md
  book/info/new.md
  book/info/typography.md
  book/logo.png
  book/references.bib
  book/tmux/ch_000_intro.md
  book/tmux/ch_010_basic.md
  book/tmux/ch_020_configuring.md
  book/tmux/ch_030_custom_environment.md
  book/tmux/ch_040_text_and_buffer.md
  book/tmux/ch_050_pair_programming.md
  book/tmux/ch_060_workflow.md
  book/tmux/ch_070_appendix.md
  book/tmux/images/tmux_ch_000_010.svg
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdfdfdfd
  book/_config.yml
  book/_static/_toc.yml
  book/_static/images/cc-icons.svg
  book/_static/images/cc-logomark.svg
  book/_static/images/favicon.svg
  book/_static/images/logo-square.svg
  book/_static/images/logo-wide.svg
  book/_static/index.md
  book/_static/info/new.md
  book/_static/info/typography.md
  book/_static/references.bib
  book/_static/styles/codeblock.css
  book/_static/tmux/ch_000_intro.md
  book/_static/tmux/ch_010_basic.md
  book/_static/tmux/ch_020_configuring.md
  book/_static/tmux/ch_030_custom_environment.md
  book/_static/tmux/ch_040_text_and_buffer.md
  book/_static/tmux/ch_050_pair_programming.md
  book/_static/tmux/ch_060_workflow.md
  book/_static/tmux/ch_070_appendix.md
  book/_static/tmux/images/tmux_ch_000_010.svg
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_static/references.bib
  book/_toc.yml
  book/index.md
  book/info/new.md
  book/info/typography.md
  book/references.bib
  book/tmux/ch_000_intro.md
  book/tmux/ch_010_basic.md
  book/tmux/ch_020_configuring.md
  book/tmux/ch_030_custom_environment.md
  book/tmux/ch_040_text_and_buffer.md
  book/tmux/ch_050_pair_programming.md
  book/tmux/ch_060_workflow.md
  book/tmux/ch_070_appendix.md
  book/tmux/images/tmux_ch_000_010.svg
Due: check-yaml, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_config.yml
  book/_static/images/favicon.ico
Due: check-yaml

Update documentation
  .buildinfo
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.ico
  _static/images/favicon.ico
  genindex.html
  index.html
  info/new.html
  info/typography.html
  prf-prf.html
  search.html
  tmux/ch_000_intro.html
  tmux/ch_010_basic.html
  tmux/ch_020_configuring.html
  tmux/ch_030_custom_environment.html
  tmux/ch_040_text_and_buffer.html
  tmux/ch_050_pair_programming.html
  tmux/ch_060_workflow.html
  tmux/ch_070_appendix.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/_static/images/favicon.ico
Due: none

Update documentation
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.ico
  _static/images/favicon.ico
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _rediraffe_redirected.json
  _sources/index.ipynb
  _sources/info/new.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  _static/favicon.svg
  new.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/info/new.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  objects.inv
  searchindex.js
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _rediraffe_redirected.json
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  info/intro.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

Update documentation
  _rediraffe_redirected.json
  _sources/index.ipynb
  _sources/info/typography.ipynb
  _sources/tmux/ch_000_intro.ipynb
  _sources/tmux/ch_010_basic.ipynb
  _sources/tmux/ch_020_configuring.ipynb
  _sources/tmux/ch_030_custom_environment.ipynb
  _sources/tmux/ch_040_text_and_buffer.ipynb
  _sources/tmux/ch_050_pair_programming.ipynb
  _sources/tmux/ch_060_workflow.ipynb
  _sources/tmux/ch_070_appendix.ipynb
  q.html
Due: pretty-format-json, check-json, pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa

dfdf
  book/tmux/index.md
Due: pyupgrade-nbqa, isort-nbqa, black-nbqa, mypy-nbqa, bandit-nbqa, pylint-nbqa
